html {
  background:#6C7989 linear-gradient(#6c7989, #434b55) fixed;
}
body {
  margin: 0;
  padding: 0;
  font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
  font-weight: 300;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAeCAYAAABNChwpAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAAAUdEVYdENyZWF0aW9uIFRpbWUAMy82LzEygrTcTAAAAFRJREFUSIljfPDggZRf5RIGGNjUHsNATz6jXmSL1Kb2GLiAX+USBnrymRgGGDCORgFmoNAXjEbBaBSMRsFoFIxGwWgUjEbBaBSMRsFoFIxGwWgUAABYNujumib3wAAAAABJRU5ErkJggg==') fixed;
}
.wrapper {
  width: 320px;
  margin: 0 auto;
  background: #dedede;
  box-shadow: rbga(0,0,0,0.2) 0 0 0 1px, rgba(0,0,0,0.45) 0 3px 10px;
}
header, section, footer {
  display: block;
}
a {
  color: #069;
  text-decoration: none;
}
p {
  margin: 0 0 20px;
  padding: 0;
}
header {
  background: linear-gradient(#ddfbfc, #c6eafa);
  padding: 15px 20px;
  border-bottom: 1px solid #b2d2e1;
}
header h1 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 1.2;
  color: #069;
  text-shadow: rgba(255,255,255,0.9) 0 1px 0;
}
header p {
  margin: 0;
  color: #61778b;
  width: 300px;
  font-size: 13px;
}
header p.view {
  font-weight: 700;
  text-shadow: rgba(255,255,255,0.9) 0 1px 0;
}
header p.view a {
  color: #06c;
}
header p.view small {
  font-weight: 400;
}
section {
  padding: 15px 20px;
  font-size: 15px;
  border-top: 1px solid #fff;
  background: linear-gradient(#fafafa, #dedede 700px);
}
#icon {
  width: 150px;
  float: left;
}
#link {
  width: 120px;
  float: right;
  text-align: center;
  font-size: 15px;
}
#link p {
  margin: 0 0 5px 0;
  padding: 0 15px;
  line-height: 1.4em;
  display: block;
  background: linear-gradient(#fdfdfd, #cbcbcb);
  box-shadow: inset rgba(255, 255, 255, 0.45) 0 1px 0, inset rgba(0, 0, 0, 0.2) 0 -1px 0;
  border-radius: 5px;
}
#link a {
  text-shadow: rgba(255,255,255,0.9) 0 1px 0;
}
.github {
  color:#333333;
}

.google {
  color:#dd4b39;
}

.qiita {
  color:#51bb39;
}

.instagram {
  color:#405de6;
}

.twitter {
  color:#1da1f2;
}

.tumblr {
  color:#35465c;
}
#copyright {
  text-align: right;
  margin: 0 1em;
}
#profile {
  border-bottom: 1px solid #999;
  margin-bottom: 0.5em;
}
#profile p + p + p {
  text-align: center;
}
footer {
  width: 320px;
  margin: 0 auto;
  padding: 20px 0 0;
  color: #ccc;
}
footer a {
  color: #fff;
  font-weight: bold;
}
footer p {
  float: left;
  margin-bottom: 0;
}
footer p + p {
  float: right;
}
